# Ignora todo el contenido de cualquier target/
**/target/**

# ...pero permite las carpetas target/ (para que Git pueda “entrar”)
!**/target/

# ...y permite los WAR dentro de target/
!**/target/*.war

# Basura común
.DS_Store
.metadata/
.project
.classpath
.settings/
.idea/
*.iml
*.log
