

# Permitir este archivo
!.gitignore

# Permitir carpetas target/ pero ignorar su contenido...
!**/target/
**/target/**

# ...excepto los .war directos dentro de target/
!**/target/*.war

# Basura común
.DS_Store
.metadata/
.project
.classpath
.settings/
